allow mm-pp-daemon diag_device:chr_file rw_file_perms;
allow mm-pp-daemon sysfs:file { open read write };
allow mm-pp-daemon ion_device:chr_file { open read write };
allow mm-pp-daemon system_prop:property_service { set };
