# Some apps ship with shared libraries and binaries that they write out
# to their sandbox directory and then execute.
allow platform_app app_data_file:file { rx_file_perms execmod };
