allow rild system_prop:property_service set;
allow rild default_android_service:service_manager find;
allow rild audioserver_service:service_manager find;
allow rild mediaserver_service:service_manager find;
allow rild per_mgr_service:service_manager find;

# rild needs 'lock' for /vendor/qcril.db
allow rild vendor_file:file { lock };


