allow system_app fpc_socket:sock_file write;
allow system_app fpc_data_file:dir r_dir_perms;
allow system_app fpc_data_file:sock_file write;
allow system_app fingerprintd:unix_stream_socket { read write connectto};
allow system_app fingerprintd:fd use;
