type atfwd_service,               service_manager_type;
type per_mgr_service,             service_manager_type;
type fidodaemon_service,          service_manager_type;
type seemp_health_daemon_service, service_manager_type;
type dun_service,                 service_manager_type;
type imscm_service,               system_api_service, service_manager_type;
type color_service,               service_manager_type;
type dtseagleservice_service,     service_manager_type;
type izat_service,                app_api_service, system_api_service, service_manager_type;
type qtitetherservice_service,    service_manager_type;
